.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-areas:
    "red red blue blue blue blue blue blue black black black"
    "red red blue blue blue blue blue blue black black black"
    "lila lila yellow yellow yellow yellow yellow yellow green green green"
    "lila lila yellow yellow yellow yellow yellow yellow green green green"
    "lila lila yellow yellow yellow yellow yellow yellow green green green"
    "lila lila yellow yellow yellow yellow yellow yellow green green green"
    "lila lila white white white white white white pink pink pink"
    "lachs lachs brown brown brown brown brown brown green green green"
    "lachs lachs brown brown brown brown brown brown green green green"
  ;
}


red {
  grid-area: red;
  background-color: red;
}

blue {
  grid-area: blue;
  background-color: blue;
}

lachs {
  grid-area: lachs;
  background-color: darksalmon;
}


pink {
  grid-area: pink;
  background-color: magenta;
}

green {
  grid-area: green;
  background-color: greenyellow;
}

lila {
  grid-area: lila;
  background-color: pink;
}